.section {
    &.avatar {
        & form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 30px 0;

            &>.avatar-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                row-gap: 6px;

                &>.option {
                    display: inline-block;
                    cursor: pointer;
                    box-sizing: border-box;
                
                    &>input[type="radio"] {
                        display: none;
                    }
                
                    &>.avatar {
                        position: relative;
                        width: 78px;
                        height: 78px;
                        border: none;
                        background: var(--image) center center / 66px 66px no-repeat;
                        filter: sepia(1);

                        &:hover {
                            filter: sepia(0);
                        }
                    }
                
                    & input[type="radio"]:checked + .avatar {
                        filter: sepia(0);
                
                        &.admin::before {
                            background: var(--avatar-frame-admin) center center no-repeat;
                        }
                
                        &::before {
                            position: absolute;
                            display: inline-block;
                            content: " ";
                            width: 78px;
                            height: 78px;
                            background: var(--avatar-frame) center center no-repeat;
                        }
                    }
                }
            }

            &>input[type='submit'] {
                margin-top: 30px;
                cursor: pointer;
                justify-self: center;
                align-self: center;
                font-size: 15px;
                width: 180px;
                height: 51px;
                border: none;
                color: rgba(244, 196, 0, 1);
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                background: url(/public/img/button.webp) no-repeat;
            }
        }
    }
}