.option {
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;

    &>input[type="radio"] {
        display: none;
    }

    &>.signature {
        position: relative;
        width: 360px;
        height: 78px;
        background: var(--image) center center / 348px 66px no-repeat;
        filter: sepia(1);

        &:hover {
            filter: sepia(0);
        }
    }

    & input[type="radio"]:checked + .signature {
        filter: sepia(0);

        &::before {
            content: " ";
            position: absolute;
            display: inline-block;
            width: 360px;
            height: 78px;
            background: var(--signature-frame) center center / 360px 78px no-repeat;
        }
    }
}

.section {
    &.signature {
        & form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 30px 0;

            &>.signature-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                row-gap: 15px;
            }

            &>input[type='submit'] {
                margin-top: 30px;
                cursor: pointer;
                justify-self: center;
                align-self: center;
                font-size: 15px;
                width: 180px;
                height: 51px;
                border: none;
                color: rgba(244, 196, 0, 1);
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                background: url(/public/img/button.webp) no-repeat;
            }
        }
    }
}